@import 'tailwindcss';

@theme {
  --color-primary: rgb(37, 99, 235);
  --color-secondary: rgb(234, 88, 12);
  --color-surface: rgb(249, 250, 251);
  --color-foreground: rgb(31, 41, 55);
  --color-background: rgb(255, 255, 255);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
}

.m-scrollbar {
  scrollbar-width: 0;
  scrollbar-color: transparent; /* thumb, track */
}

.m-scrollbar::-webkit-scrollbar {
  width: 0;
}

.m-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.m-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}
